.forgotPassword {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height: 350px;
    position: fixed;
}

.forgotPasswordStep_3 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 800px;
    height: 500px;
    position: fixed;

    .card {
        position: relative;
        background: #fff;
        border-radius: 5px;
        padding: 20px 0 20px 0;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        border: none !important;
        margin-top: 0;
    }

    .copyright {
        color: white;
        font-size: 9pt;
    }

    .loginversao {
        position: fixed;
        right: 15px;
        bottom: 15px;
        text-align: right;
        color: white;
        font-size: 10pt;
    }
}

@media only screen and (max-width: 800px) {
    .forgotPasswordStep_3 {
        top: 30% !important;
        left: 0;
        right: 0;
        bottom: 50% !important;
        margin: auto;
        width: 400px;
        height: 350px;
        position: fixed;
    }
}