<div id="forgotPassword" class="forgotPasswordStep_3 forgotPassword container">
    <div class="card">
        <!-- Component -->
        <router-outlet></router-outlet>

        <!-- Login -->
        <div class="text-center">
            <a class="link" (click)="navigateTo('login')">Lembrei minha senha, quero entrar!</a>
        </div>
    </div>
    <div class="text-center copyright">
        &copy; Copyright Same Day {{ fullYear }} - Todos os direitos reservados.
    </div>
    <div class="loginversao">v: {{ loginVersion }}</div>
    <div *ngIf="checkURL()"></div>
</div>