<h2 [innerHTML]="title" mat-dialog-title></h2>
<mat-dialog-content class="mat-typography">
  <h4 [innerHTML]="message"></h4>
  <div *ngIf="actions?.action === 'reproved' || actions?.action === 'revision'">
    <mat-form-field appearance="outline">
      <mat-label>Motivo</mat-label>
      <textarea matInput [(ngModel)]="reason" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" maxlength="70" required></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="right" *ngIf="actions?.button=='yesno'">
  <button mat-button class="reproved" (click)="performTheAction('no', actions, actions?.value)">Não</button>
  <button mat-button class="approved" (click)="performTheAction('yes', actions, actions?.value)">Sim</button>
</mat-dialog-actions>
<mat-dialog-actions class="right" *ngIf="actions?.button=='approval'">
  <button mat-button class="reproved" (click)="performTheAction('reproved', actions)">Reprovar</button>
  <button mat-button class="approved" (click)="performTheAction('approved', actions)">Aprovar</button>
</mat-dialog-actions>
<mat-dialog-actions class="right" *ngIf="actions?.button=='close'">
  <button mat-button (click)="performTheAction('no', actions)">Fechar</button>
</mat-dialog-actions>