.changePassword {
    .title {
        position: relative;
        z-index: 1;
        border-left: 5px solid #9c27b0;
        margin: 0 0 5px;
        padding: 10px 0 10px 26px;
        color: #9c27b0;
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;

        .msg {
            font-size: 13px;
            color: #666;
            display: block;
            margin: 0;
            padding: 0;
            font-weight: 400;
            line-height: 18px;
            margin-top: 10px;
            text-transform: none;
        }
    }

    fieldset legend {
        font-size: 16px;
        color: #666;
        display: block;
        margin: 0;
        padding: 0;
        font-weight: 400;
        line-height: 18px;
        margin-top: 10px;
        text-transform: none;
    }

    .forgot-password {
        margin-top: 15px;

        a {
            cursor: pointer;
        }
    }

    .button-container {
        margin: 10px 0;
        text-align: center;
        position: relative;
    }

    .spinner-container {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
    }

    @media only screen and (max-width: 800px) {
        .secureInformation {
            display: none;
        }
    }
}