@import '../../../../assets/scss/core/variables/colors';

.statusAll {
    background-image: linear-gradient(to right, $grey-500, $grey-700);
    transition: all 0.3s ease-in-out;
}

.statusPending {
    background-image: linear-gradient(to right, $amber-600, $amber-900);
    transition: all 0.3s ease-in-out;
}

.statusCanceled {
    background-image: linear-gradient(to right, $red-500, $red-800);
    transition: all 0.3s ease-in-out;
}

.statusExecution {
    background-image: linear-gradient(to right, $cyan-500, $cyan-800);
    transition: all 0.3s ease-in-out;
}

.statusFinished {
    background-image: linear-gradient(to right, $green-400, $green-700);
    transition: all 0.3s ease-in-out;
}

.statusAll:hover,
.statusPending:hover,
.statusCanceled:hover,
.statusExecution:hover,
.statusFinished:hover {
    transform: translateY(-2px);
    box-shadow: 2px 4px 10px rgb(0 0 0 / 35%)
}