<div *ngIf="pageLoading" class="center">
    <div class="pageLoading">
        <mat-spinner></mat-spinner>
    </div>
    <p>Carregando pedidos...</p>
</div>
<div [hidden]="pageLoading">
    <div *ngIf="!listLoading" class="statusCard">
        <div class="statusPending col-xs-12" (click)="applyFilter('pending')">
            Pendente<br /> {{ totals?.statusPending }}
        </div>
        <div class="statusCanceled col-xs-12" (click)="applyFilter('canceled')">
            Cancelado<br /> {{ totals?.statusCanceled }}
        </div>
        <div class="statusExecution col-xs-12" (click)="applyFilter('execution')">
            Execução<br /> {{ totals?.statusExecution }}
        </div>
        <div class="statusFinished col-xs-12" (click)="applyFilter('finished')">
            Finalizado<br /> {{ totals?.statusFinished }}
        </div>
        <div class="statusAll col-xs-12" (click)="applyFilter('')">
            Todos<br /> {{ totals?.statusAll }}
        </div>
    </div>
    <div class="card card-stats standard-table">
        <div class="actionMenu">
            <button (click)="reload()" mat-fab color="white">
                <mat-icon matTooltip="Atualizar" matTooltipPosition="above">refresh</mat-icon>
            </button>
            <button (click)="editOrder()" mat-fab color="white">
                <mat-icon matTooltip="Novo Pedido" matTooltipPosition="above">add</mat-icon>
            </button>
        </div>
        <div class="standard-input-filter">
            <mat-form-field>
                <input matInput placeholder="Procurar" autocomplete="off" (keyup)="applyFilter(search.value)"
                    #search>
                <button mat-button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="applyFilter(search.value='')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
            <mat-progress-bar *ngIf="listLoading" mode="query"></mat-progress-bar>
            <mat-table [hidden]="listLoading" #sort="matSort" [dataSource]="dataSource" cellspacing="0" width="100%" matSort>
                <!-- Status -->
                <ng-container matColumnDef="status">
                    <mat-header-cell style="width: 20%;" *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                    <mat-cell style="width: 20%;" *matCellDef="let row">
                        <span class="status {{ loadCssStatus(row?.status) }}"></span>
                    </mat-cell>
                </ng-container>
                <!-- Delivery Time -->
                <ng-container matColumnDef="duration">
                    <mat-header-cell style="width: 20%;" *matHeaderCellDef mat-sort-header> Tempo de Entrega </mat-header-cell>
                    <mat-cell style="width: 20%;" *matCellDef="let row">{{ row.duration }}</mat-cell>
                </ng-container>
                <!-- KM -->
                <ng-container matColumnDef="km">
                    <mat-header-cell style="width: 20%;" *matHeaderCellDef mat-sort-header> KM </mat-header-cell>
                    <mat-cell style="width: 20%;" *matCellDef="let row">{{ row.km }}</mat-cell>
                </ng-container>
                <!-- Price -->
                <ng-container matColumnDef="price">
                    <mat-header-cell style="width: 20%;" *matHeaderCellDef mat-sort-header> Preço </mat-header-cell>
                    <mat-cell style="width: 20%;" *matCellDef="let row">{{ row.price | convertCentToCoin }}</mat-cell>
                </ng-container>
                <!-- Status payment -->
                <ng-container matColumnDef="paymentStatus">
                    <mat-header-cell style="width: 20%;" *matHeaderCellDef mat-sort-header> Status do Pagamento </mat-header-cell>
                    <mat-cell style="width: 20%;" *matCellDef="let row">{{ getPaymentStatus(row) }}</mat-cell>
                </ng-container>
                <!-- Date -->
                <ng-container matColumnDef="created_at">
                    <mat-header-cell style="width: 20%;" *matHeaderCellDef mat-sort-header> Data do Pedido</mat-header-cell>
                    <mat-cell style="width: 20%;" *matCellDef="let row">{{ row.created_at | date:'dd/MM/yyyy HH:mm' }}</mat-cell>
                </ng-container>
                <!-- Actions -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="position-actions">Ações</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-icon matTooltip="Visualizar Pedido" matTooltipPosition="left" (click)="viewOrder(row?.id)">
                            remove_red_eye
                        </mat-icon>
                        <mat-icon *ngIf="!row.orderInvoice || (row.orderInvoice && (row.orderInvoice.status == ORDER_STATUS.refund || row.orderInvoice.status == ORDER_STATUS.reprove))" class="edit-icon" matTooltip="Editar" matTooltipPosition="left" (click)="editOrder(row?.id)">
                            edit
                        </mat-icon>
                        <mat-icon *ngIf="!row.orderInvoice" class="delete-icon" matTooltip="Excluir" matTooltipPosition="left" (click)="deleteOrder(row)">
                            delete
                        </mat-icon>
                        <mat-icon *ngIf="row.orderInvoice && row.orderInvoice.status == ORDER_STATUS.pending && row.orderInvoice.method == 'pix'" matTooltip="Visualizar QR Code" matTooltipPosition="left" (click)="showQRCode(row)">
                            qr_code_scanner
                        </mat-icon>
                        <mat-icon *ngIf="user.profile == PROFILES.administrator && row.orderInvoice && row.orderInvoice.status == ORDER_STATUS.approve" matTooltip="Estornar" matTooltipPosition="left" (click)="refundOrder(row)">
                            settings_backup_restore
                        </mat-icon>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell center" [attr.colspan]="displayedColumns.length">
                        Resultado não encontrado!
                    </td>
                </tr>
            </mat-table>
            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>