.app-same-day-user-information .mat-table {
    max-height: 300px;
}

.app-same-day-user-information {
    h3 {
        font-weight: 400;
        margin: 0px !important;
        text-align: center !important;
    }

    .standard-table .standard-input-filter {
        margin-top: 0px !important;
    }
}