<h1 class="title">
    Recuperar Senha
    <div class="msg">
        Informe o e-mail de sua conta<br />
        Nós vamos te enviar um código por e-mail
    </div>
</h1>
<div class="col-md-12">
    <div class="col-12">
        <!-- Email -->
        <mat-form-field appearance="outline">
            <mat-icon matPrefix>email</mat-icon>
            <mat-label>E-mail</mat-label>
            <input type="email" matInput [(ngModel)]="auth.email" autocomplete="email" required>
        </mat-form-field>

        <div class="button-container">
            <div class="spinner-container" *ngIf="loading">
                <mat-spinner diameter="24"></mat-spinner>
            </div>
            <button [disabled]="!isValid() || loading" (click)="isValid() ? step_1() : null" class="btn btn-custom">Enviar</button>
        </div>
    </div>
</div>